<div class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

  <h2>Topping Preferences</h2>
  
  <%= render "shared/flash" %>
  
  <%= bootstrap_form_for @preferences_form, url:"/people/#{@current_account.person.id}", method: :put do |f| %>
  <!--%= bootstrap_form_tag , method: :put, do %-->
  
  <div class="well well-sm">
  <table id="topping-prefs-table"><tbody>
    <thead>
      <th>Topping</th> <th>Selection</th> <th></th>
    </thead>
    <% @all_toppings.each do |topping| %>
      <% form_symbol = "topping#{topping.id}".to_sym %>
      <tr>
        <td><%= topping.name %></td>
        <td>
        <%= f.form_group form_symbol, class: "btn-group", data: {toggle: "buttons"} do %>
          <%= f.radio_button_with_bootstrap form_symbol, :needed_toppings, label: "(♥‿♥)", inline: true, label_class: "btn btn-sm btn-danger", label_title: "I need it!" %>
          <%= f.radio_button_with_bootstrap form_symbol, :wanted_toppings, label: "(°‿°)", inline: true, label_class: "btn btn-sm btn-warning", label_title: "I want it." %>
          <%= f.radio_button_with_bootstrap form_symbol, :unlisted_toppings, label: "○", inline: true, label_class: "btn btn-sm btn-default", label_title: "I don't care." %>
          <%= f.radio_button_with_bootstrap form_symbol, :mehed_toppings, label: "(¬_¬)", inline: true, label_class: "btn btn-sm btn-info", label_title: "It's alright I guess..." %>
          <%= f.radio_button_with_bootstrap form_symbol, :hated_toppings, label: "(>﹏<)", inline: true, label_class: "btn btn-sm btn-success", label_title: "I can't eat that!" %>
        <% end %>
        </td>
        <td class="pref-descriptor">I don't care.</td>
      </tr>
    <% end %>
  </tbody></table>
  </div>
  <%= f.submit "Submit" %>
  <% end %>

</div>
