<div class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

  <h2>New Event</h2>
  
  <!-- ["id", "account_id", "name", "location_street_address", "location_city", "location_state", "location_zip", "date", "created_at", "updated_at"] -->
  <%= bootstrap_form_for @event do |f| %>
    <%= f.text_field :name, placeholder: "Event name", hide_label: true %>
    <%= f.text_field :location_street_address, placeholder: "Street address", class: 'input-sm', label: "Address (optional):" %>
    <div class="form-inline">
      <%= f.text_field :location_city, placeholder: "City", class: 'input-sm', hide_label: true %>
      <%= f.select :location_state, us_states, { hide_label: true }, { class: "input-sm col-xs-1" } %>
      <%= f.text_field :location_zip, placeholder: "Zip code", class: 'input-sm col-xs-3', hide_label: true %>
    </div>
    <div class="form-group form-inline input">
      <%= f.datetime_select :date, class: 'input-sm', label: "Date:" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
  <% end %>
  
</div>
